<nav>
    <link rel="icon" href="/static/icons8-train-100.png">

    
    <% if(payload.username){  %>
        <p>Login as: <%= payload.username  %></p>
        <form action="/auth/logout" method="post" id = "logout" >
            <button type="submit">Logout</button>
        </form>
        <a href="/new_student_post" class ="top-link">Add new student</a>
    <% }else{  %>
        <a href="/auth/" class ="top-link">Login/Register</a>
    <% } %>

    
    <% if(locals.permission === 'admin'){  %>
        <a href="/users" class ="top-link">Users</a>
    <% }  %>

    <a href="/" class ="top-link">Students</a>


    

</nav>