<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <%- include ('partials/nav.ejs'); %>
    <main>
        <p><%= message %> </p>
        <h1>Login</h1>

        <form method="post" action="/auth/login">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="user" required><br>

            <label for="password" required>Password</label>
            <input id="password" name="password" type="password" required><br>

            <input id="submit" type="submit" value="Send"><br>
        </form>

        <h1>Register</h1>
        <form method="post" action="/auth/register">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="user" required><br>

            <label for="password" required>Password</label>
            <input id="password" name="password" type="password" required><br>

            <label for="password2" required>Confirm password</label>
            <input id="password2" name="password2" type="password" required><br>

            <input id="submit" type="submit" value="Send"><br>
        </form>
    </main>
    <footer>
        <p>
            Copyright 2022
        </p>
    </footer>
</body>
</html>
