<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <body>
       
        <%- include ('partials/nav.ejs'); %>

        <p><%= message %> </p>

        <div id="container">
            <% students.forEach(student => { %>
                <div class="student">
                    <p> Student ID: <%= student.StudentID %>  </p>
                    <p> Name: <%= student.StudentName %></p>
                    <p> CNP: <%= student.CNP %></p>
                    <p> Facultatea: <%= student.Facultatea %> </p>
                    <p> Specializare: <%= student.Specializare  %> </p>
                    <p> Numar matricol: <%= student.NumarMatricol %> </p>
                    <p> Company Name: <%= student.CompanyName %> </p>
                    <p> Grade: <%= student.Grade %> </p>
                    <input class="delete-button-student" type="button" value="Delete">
                </div>
            <% }) %>
        </div>
       
        <footer>
            <p>Copyright 2022</p>
        </footer>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/index.js"></script>
    </body>

</html>
