<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <%- include ('partials/nav.ejs'); %>
    <main>
        <p><%= message %> </p>
        <h1>Add new student</h1>

        <form method="post" action="/new_student_post">
            <label for="studentName">Name</label>
            <input id="studentName" name="studentName" type="text" placeholder="Name" required><br>
            <label for="cnp">CNP</label>
            <input id="cnp" name="cnp" type="text" placeholder="CNP" required><br>
            <label for="facultatea">Facultatea</label>
            <input id="facultatea" name="facultatea" type="text" placeholder="Facultatea" required><br>
            <label for="specializare">Specializare</label>
            <input id="specializare" name="specializare" type="text" placeholder="Specializare" required><br>
            <label for="numarMatricol">Numar Matricol</label>
            <input id="numarMatricol" name="numarMatricol" type="number" required><br>
            <label for="companyName">Company Name</label>
            <input id="companyName" name="companyName" type="text" placeholder="Company Name" required><br>
            <label for="grade" required>Grade</label>
            <input id="grade" name="grade" type="number" min="1" max="10" ><br>

            <input id="submit" type="submit" value="Save"><br>
        </form>
    </main>
    <footer>
        <p>
            Copyright 2021
        </p>
    </footer>
</body>
</html>
