<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <body>
        <%- include ('partials/nav.ejs'); %>
        <main>
            <p><%= message %> </p>
            <h1>users</h1>



        
            <div id="container">
                <% users.forEach(users => { %>
                    <div class="users">
                        <p> Username: <%= users.Username %> </p>
                        <p> User role: <%= users.UserGroupName %></p>
                        <% if(users.UserGroupName !== 'admin' ){  %>
                        <input class="delete-button-user" type="button" value="Delete">  
                        <input class="modify-button-user" type="button" value="Give admin role">  
                        <% } else{  %>
                            <input class="delete-button-user" type="button" value="Delete" style="display: none">  
                            <input class="modify-button-user" type="button" value="Demote to normal user">  
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </main>

        <footer>
            <p>Copyright 2022</p>
        </footer>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/index.js"></script>
    </body>

</html>
