a {
  color: orange;
  font-style: normal;
  text-decoration: none;
}
a:hover {
  color: orange;
  font-weight: bold;
}

a:active {
  background-color: lawngreen;
}

label,
input:not([type="submit"]) {
  width: 200px;
  margin: 10px;
}

label {
  display: block;
  margin: 0;
}
div#container {
  border: 1px solid rgb(146, 179, 177);
}
#select {
  width: 150px;
}

p {
  margin: 5px;
}
#logout {
  float: left;
  padding: 5px;
}
a.top-link {
  padding: 10px;
}
div.users {
  border: 1px solid rgba(80, 134, 75, 0.739);
  border-radius: 6px;
  margin: 3px 2px;
}
div.student {
  border: 1px solid rgba(80, 134, 75, 0.739);
  border-radius: 6px;
  margin: 3px 2px;
}
